{% extends 'gallery/base.html'%}

{{block.super}}
{% block content%}
<style>
    h1{
        text-align:right;
        font-size:50px;
        color:grey;
        font-family: 'Girassol', cursive;
        position:absolute;
        top:4%;
        left:75%;
    }
    h3{
        text-align:center;
        color:white;
        font-size:30px;
        margin-top:150px 
    }
    body{
        background-image:url(https://www.hd-freewallpapers.com/latest-wallpapers/moon%20-shadow-%20on%20-river%20-wallpaper%20-download.jpg);
        background-size:cover;
    }
 
  #place{
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin-left: 170px ;
    margin-top:100px ;  
  }
 
  .ronnie{
    width:280px;
    height:310px;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2)
    position:absolute;
    right:40%;
  }
  #position{
    position:absolute;
    top:30%;
    right:57%;
  }
  #clear{
    margin-top:250px;
    margin-left:16px;
  }
h4{
  font-size:30px;
  color:black;
}
h5{
   font-size:20px;
  color:black;
} 
 .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
    padding:15px 15px;
  }
  .card{
    position: relative;
    width: 300px;
    height: 330px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 
   #left{
     left:75%;
     color:silver;
     font-size:25px;
    font-family: 'Girassol', cursive;
     position:absolute;
     top:25%;
   }
</style>
<body>
<h1>PHOTOLIFE</h1>
<p id="left">~This is a basic yet amazing app that you can use to  see amazing photos and even copy them.~</p>
  {% for photo in photos %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="card">
            <div class="imgBx">
                <img src="{{photo.image.url}}" alt="images">
            </div>
            <button type="button" id="clear" class="btn btn-primary"style="background-color:black;" data-toggle="modal" data-target="#myModal{{photo.id}}">More</button>

            <div class="details">
                <h2>{{photo.name}}<br><span><b>{{photo.location}}</b><br>{{photo.description}}</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% for photo in photos %}
<div class="">

  <!-- Trigger the modal with a button -->
<div id="position" >
</div>
<!-- Modal -->
<div id="myModal{{photo.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{photo.name}}</h4>
      </div>
      <div class="modal-body">
         <img src="{{photo.image.url}}" width="400px" height="400px"alt="photos">
        <h5>Category:{{photo.category}}</h5>
        <h5>Location:{{photo.location}}</h5>
        <p>Description:{{photo.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <input type="text" value="{{photo.image.url}}" id="myInput">
      <button class="btn btn-success"  onclick="myFunction()">Copy text</button>
      </div>
    </div>

  </div>
</div>
</div>

   {% endfor %}

</body>
<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999); 

  document.execCommand("copy");

  alert("Copied the text: " + copyText.value);
}
</script>
{% endblock %}
